body{background: darkgray;padding: 100px 0;margin:0;}
.outerBox{width:80%;box-sizing: border-box;margin: auto;}

/*日历*/
#calendar{width: 100%; box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);background: white;border-radius: 4px;min-width:350px;overflow: hidden;}
#calendar ul{list-style: none;margin:0;padding:0;}
#calendar .titleBar{position:relative;text-align: center; border-bottom: 1px solid #eeeeee;height: 48px;}
#calendar .titleBar .title{color: #333; font-size: 20px;font-weight:bold;line-height: 48px;}
#calendar .titleBar .backToToday{position:absolute;top:15px;right:30px;color: #1ccda1; font-size: 14px;}
#calendar .weekBar{text-align: center;font-size: 0;}
#calendar .weekBar > li{display: inline-block;width:44px;height:44px;line-height:44px;color:#999;font-size: 14px;box-sizing: border-box;transition:all 0.3s ease;}
#calendar .calendarPanel{position:relative;overflow:hidden;text-align: center;color:#333;height:68px;max-height:288px;min-height:68px;}
#calendar .calendarPanel .month{position: absolute;left:0;right:0;width: 100%;}
#calendar .calendarPanel .day{display: inline-block;width:44px;height:44px;line-height:44px;font-size:14px;box-sizing: border-box;transition:all 0.3s ease;color:#bbb;border-radius: 22px;}
#calendar .calendarPanel .day.cur{color:#333;}
#calendar .calendarPanel .day.today{background:#e3f4f0;border-radius: 22px;color:#1ccda1; font-weight: bold;}
#calendar .calendarPanel .day.foldStatus{color:#333;}
#calendar .calendarPanel .day.selected{background:#1ccda1;border-radius: 22px;color:white; font-weight: bold;}
#calendar .foldBox{position: absolute; bottom: 0; width: 100%; height: 24px; background: white url("images/arrow_downward.png") no-repeat center; background-size: 22px 8px;}


